.row.justify-content-center
  = simple_form_for @trip do |f|
    .col.mb-3
      label.form-label for='start_point' Starting Point
      = f.input :start_point, class: 'form-control', label: false
    .col.mb-3
      label.form-label for='end_point' End Point
      = f.input :end_point, class: 'form-control', label: false
    = f.submit class: 'btn btn-primary'