table.table 
  thead
    tr 
      th Start 
      th End 
      th Distance 
      th Duration
      th Created At
      th
  tbody 
    - trips.each do |trip|
      tr 
        td= trip.start_point 
        td= trip.end_point 
        td= trip.distance 
        td= trip.duration
        td= trip.created_at.to_formatted_s(:short)
        td= link_to 'Delete', trip, 
            data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, 
            class: 'btn btn-outline-danger btn-sm'
            