DOCTYPE
html
  head
    title TripIt
    meta name="viewport" content="width=device-width,initial-scale=1"
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = turbo_include_tags

  body.container-sm
    .row.align-items-start
      = yield

